.ProseMirror {
  .codeBlock {
    padding: 4px;
    border-radius: var(--mantine-radius-default);
    background-color: light-dark(var(--mantine-color-gray-0),  var(--mantine-color-dark-8));
    }

  pre {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    margin: 4px;
    font-family: "JetBrainsMono", var(--mantine-font-family-monospace);
    border-radius: var(--mantine-radius-default);
    tab-size: 4;

    @mixin light {
      background-color: var(--docmost-md-code-bg);
      color: var(--docmost-md-text);
    }

    @mixin dark {
      background-color: var(--docmost-md-code-bg);
      color: var(--docmost-md-text);
    }

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: var(--mantine-font-size-sm);
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: var(--docmost-md-quote-border);
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: var(--docmost-md-strong);
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: var(--docmost-md-heading-alt);
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: var(--docmost-md-emphasis);
    }

    .hljs-title,
    .hljs-section {
      color: var(--docmost-md-code-text);
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: var(--docmost-md-list-marker);
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  :not(pre) > code {
    font-family: "JetBrainsMono", var(--mantine-font-family-monospace);
    line-height: var(--mantine-line-height);
    padding: 2px calc(var(--mantine-spacing-xs) / 2);
    border-radius: var(--mantine-radius-sm);
    margin: 0;

    @mixin where-light {
      background-color: var(--code-bg, var(--docmost-md-code-bg));
      color: var(--docmost-md-code-text);
    }

    @mixin where-dark {
      background-color: var(--docmost-md-code-bg);
      color: var(--docmost-md-code-text);
    }
  }
}
